body {
    background-color: #F0FDF4;
}

.wood-button {
    background: url('https://placehold.co/100x50') no-repeat center center;
    background-size: cover;
    color: white;
    font-weight: bold;
    padding: 16px 32px;
    border-radius: 12px;
    text-align: center;
    font-size: 1.5rem;
}

.hidden {
    display: none;
}

.text-white {
    color: white;
}

.text-green-400 {
    color: #D3E671;
}

.text-orange-400 {
    color: #FFA500;
}

.font-bold {
    font-weight: bold;
}

.bg-green-400 {
    background-color: #9ADE7B;
}

.bg-orange-400 {
    background-color: #FFA500;
}

.bg-white {
    background-color: white;
}

.text-xl {
    font-size: 1.75rem;
}

.text-2xl {
    font-size: 2rem;
}

.p-2 {
    padding: 0.75rem;
}

.p-4 {
    padding: 1.5rem;
}

.p-8 {
    padding: 2.5rem;
}

.m-4 {
    margin: 1.5rem;
}

.m-2 {
    margin: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.min-h-screen {
    min-height: 100vh;
}

.rounded-lg {
    border-radius: 1rem;
}

.shadow-lg {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.rounded-full {
    border-radius: 9999px;
}

.w-80 {
    width: 24rem;
}

.w-8 {
    width: 3rem;
}

.h-8 {
    height: 3rem;
}

.logo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}
